<script src="UnityProgress.js"></script>
<script src="UnityLoader.js"></script>
<script>
  var gameInstance = UnityLoader.instantiate("gameContainer", "MtAkoomWebGL.json", {onProgress: UnityProgress});
</script>

<div class="content">
	<div class="webgl-content">
		<div id="gameContainer" style="width: 960px; height: 540px"></div>
	</div>
</div>
