<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>Escape from Mt. Akoom</title>
  	<script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js'></script>
  	<link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet">
  	<link href="/stylesheets/index.css" rel="stylesheet" type"text/css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>