<html lang="en-us">
  <head>
    <meta charset="utf-8">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>Escape from Mt. Akoom</title>
  	<link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet">
  	<link href="/stylesheets/index.css" rel="stylesheet" type"text/css">
		<meta name="description" content="Gabriela's first Unity Game">
		<meta name="keywords" content="HTML,CSS,Ruby,Sinatra,Unity,JavaScript,Java">
  </head>
  <body>
    <%= yield %>
  </body>
</html>